<div class="container2">
  <form [className]="'container'" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Users</mat-label>
      <mat-select [(value)]="selectedUserValue">
        <mat-option *ngFor="let user of usernames" value="{{user.value}}">{{user.username}}</mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field>
    <mat-label>Obed</mat-label>
    <mat-select [(value)]="selectedLunchValue">
      <mat-option *ngFor="let lunch of lunchItems" value="{{lunch.value}}">{{lunch.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Notes</mat-label>
    <textarea matInput [formControl]="NotesFc"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Vyberte datum</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="selectedDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
    <button mat-button type="submit" style="margin-bottom: 2rem">Odeslat</button>
  </form>
</div>
<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Oběd</th>
      <th>Datum</th>
      <th>Pozmánky</th>
      <th>Smazat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of data; index as i">
      <td>{{entry.user}}</td>
      <td>{{entry.lunch}}</td>
      <td>{{entry.date}}</td>
      <td>{{entry.notes}}</td>
      <td><button class="delete-button" type="submit" mat-raised-button color="warn" (click)="onDelete(i)">Odstranit</button></td>
    </tr>
  </tbody>
</table>
<button mat-raised-button color="warn" (click)="clearTable()" style="margin-left: 3rem; margin-bottom: 5rem; margin-top: 2rem">Smazat vše</button>
<div *ngIf="selectedLunch !== undefined && selectedUser !== undefined">
  <p>Oběd: {{ selectedLunch?.name }}</p>
  <p>Value: {{ selectedLunch?.value }}</p>
</div>
<div *ngIf="selectedDate && selectedLunch !== undefined && selectedUser !== undefined">
  <p>Vybrané datum: {{selectedDate.value | date:"dd/MM/yyyy"}}</p>
</div>
<div *ngIf="selectedUser !== undefined && selectedLunch !== undefined">
  <p>Username: {{selectedUser?.username}}</p>
  <p>UserValue: {{selectedUser?.value}}</p>
</div>
<div *ngIf="selectedLunch !== undefined && selectedUser !== undefined">
  <p>Poznámky: {{NotesFc.value}}</p>
</div>
