
<table style="margin-top: 3rem">
  <thead>
  <tr>
    <th>ID</th>
    <th>Jméno</th>
    <th>Oběd</th>
    <th>Datum</th>
    <th>Poznámky</th>
    <th>Smazat</th>
    <th>Upravit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entry of data">
    <td>{{entry.id}}</td>
    <td>{{entry.userName}}</td>
    <td>{{entry.lunchName}}</td>
    <td>{{entry.date | date:'dd.MM.yyyy'}}</td>
    <td>{{entry.note}}</td>
    <td><button class="delete-button" type="submit" mat-raised-button color="warn" (click)="onDelete(entry.id)">Odstranit</button></td>
    <td><button  type="submit" mat-raised-button color="primary" (click)="onEdit(entry.id)">Upravit</button></td>
  </tr>
  </tbody>
</table>
