<mat-toolbar>
  <span>Jídelníček</span>
  <span class="example-spacer"></span>
  <button mat-button>
    <span>něco</span>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="sidenav" opened><a class="button" style="text-decoration: none; margin: 2rem; " routerLink="/obed/create" routerLinkActive = "activebutton"><button mat-button> Objednat oběd</button></a></mat-drawer>
  <mat-drawer-content style="width: 100%">
  </mat-drawer-content>
</mat-drawer-container>
