form {
  margin: 15px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

p {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.container2 {

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 6rem;

}

table {
  border-collapse: collapse;
  width: 60%;
  margin-left: 3rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.delete-button {
  background-color: red;
  width: 85%;
  font-size: 14px;
}

.blue-row {
 color: #1976d2;
}

label {
  font-size: 12px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
  padding: 10px;
}


.example-container {
  width: 100%;
  height: 100%;
}
