<mat-toolbar>
  <span class="example-spacer">Jídelníček</span>
  <button mat-button>
    <span>něco</span>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="sidenav" opened>
    <a class="button" style="text-decoration: none; margin: 2rem; " routerLink="" routerLinkActive = "activebutton"><button mat-button>Zpět</button></a>
  </mat-drawer>
  <mat-drawer-content style="width: 100%">
<div class="container2">
  <form [className]="'container'" [formGroup]="form" (ngSubmit)="submitForm()" >
    <mat-form-field>
      <mat-label>Users</mat-label>
      <mat-select formControlName="user" required>
        <mat-option *ngFor="let user of usernames" value="{{user.value}}">{{user.username}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Obed</mat-label>
      <mat-select formControlName="lunch" required>
        <mat-option *ngFor="let lunch of lunchItems" value="{{lunch.value}}">{{lunch.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Poznámky</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vyberte datum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button  mat-raised-button  type="submit"  style="margin-top: 1rem" [disabled]="!isFormValid()">{{updateLunch === undefined ? 'Odeslat' : 'Upravit'}}</button>
    <button *ngIf="updateLunch !== undefined" style="margin-top: 1rem" mat-button (click)="cancelUpdate()">Zrušit</button>
  </form>
</div>
<datera-table [data]="data$ | async" (deleteItem)="onDelete($event)" (editItem)="editRow($event)"></datera-table>
<button mat-raised-button color="warn" (click)="clearTable()" style="margin-left: 3rem; margin-bottom: 5rem; margin-top: 2rem">Smazat vše</button>
  </mat-drawer-content>
</mat-drawer-container>
